.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registerTitle {
  font-size: 50px;
}

.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.registerForm > label {
  margin: 10px 0;
}

.registerInput {
  padding: 10px;
  background-color: white;
  border: none;
}

.registerButton {
  padding: 10px;
  border-radius: 10px;
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background-color: teal;
  color: white;
}

.registerLoginButton {
  position: absolute;
  top: 60px;
  right: 120px;
  background-color: lightcoral;
  cursor: pointer;
  border: none;
  padding: 10px;
  border-radius: 10px;
}
